<div class="todos-wrapper">
  <div class="container">
    <div class="todos-item complete">
      <div class="check-box">
        <i class="material-symbols-outlined">check</i>
      </div>
      <p class="todo-text">This is a todo text!</p>
    </div>
    <div class="todos-item">
      <div class="check-box">
        <i class="material-symbols-outlined">check</i>
      </div>
      <p class="todo-text">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Est quibusdam
        odio suscipit optio quae doloribus. Saepe quam quia voluptas ipsam
        architecto, repellendus, quod illum quaerat dolorum aliquid distinctio
        in fugit.
      </p>
    </div>
  </div>
</div>
